<mat-error *ngIf="selected && !selected.enabled">Questo Corso non è attivo</mat-error>
<h3 class="tab-content-item">Studenti Iscritti al corso</h3>
<mat-form-field class="tab-content-item" id="add-form-field">
    <input matInput="text" placeholder="Aggiungi Studente" [matAutocomplete] = "auto" (keyup) = "filter($event.target.value)" >
</mat-form-field>
<mat-autocomplete #auto = "matAutocomplete" [displayWith] = "displayFn" (optionSelected) = "save($event.option.value)">
    <mat-option *ngFor = "let option of options" [value] = "option">
        {{option.name}} {{option.firstName}} ({{option.id}})
    </mat-option>
</mat-autocomplete>
<button mat-raised-button color="primary" [disabled]="selected && !selected.enabled" (click) = "insert()">Aggiungi</button>
<input type="file" style="display: none" #csvInput (change)="addMany($event.target.files[0])" >
<button mat-raised-button id="button-csv"  [disabled]="selected && !selected.enabled" (click) = "csvInput.click()">Carica studenti con CSV</button>
<button  id="button" mat-raised-button [disabled]="selected && !selected.enabled" (click) = "delete()">Cancella Studenti Selezionati</button>
<mat-paginator [pageSizeOptions] = "[2,5,10,25,100]" [length] = "2" (page)="masterCheckboxState()"></mat-paginator>
<table mat-table id="student-table" [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="Select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="getChangeEvent($event, 'master')"
                        [checked] = "isChecked('master')" [indeterminate] = "isIntermediate()">

          </mat-checkbox>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="allPagesSelection()">
              <span>TUTTE LE PAGINE</span>
            </button>
          </mat-menu>
        </th>
        <td mat-cell *matCellDef="let row"><mat-checkbox (change)="getChangeEvent($event, row)" [checked]="isChecked(row)"></mat-checkbox></td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let student">{{student.id}}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome</th>
        <td mat-cell *matCellDef="let student">{{student.firstName}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cognome</th>
        <td mat-cell *matCellDef="let student">{{student.name}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
</table>

