<div *ngFor="let assignment of assignments">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>{{assignment.name}}</h4>
      </mat-panel-title>
      <mat-panel-title>
        <h4>Scadenza: {{assignment.expiryDate.toLocaleDateString()}}</h4>
      </mat-panel-title>
      <button mat-button color="primary" (click)="seeImage(assignment)">Guarda Contenuto</button>
    </mat-expansion-panel-header>
    <app-student-delivery [courseName]= courseName
                          [assignment] = assignment
                          [studentInput] = student>

    </app-student-delivery>
  </mat-expansion-panel>
</div>
