<h1 mat-dialog-title>Creazione nuovo elaborato</h1>
<mat-error *ngIf="data.error">{{data.error}}</mat-error>
<div mat-dialog-content>
  <form [formGroup]="deliveryForm" class="image-box">
    <h3>Elaborato</h3>
    <div>
      <img id="profile-image" [src]="image" alt="Immagine">
      <input type="file" style="display: none" #imageInput (change)="onChangeImage($event)" formControlName="inputFile">
      <button mat-raised-button color="primary" (click)="imageInput.click()">Carica</button>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="deliveryForm.invalid" (click)="submitDelivery()">Consegna</button>
  <button mat-raised-button mat-dialog-close>Annulla</button>
</div>
