<h2>I miei dati</h2>
<mat-error></mat-error>
<mat-grid-list cols="4" rowHeight="300">
  <mat-grid-tile colspan="1">
    <form [formGroup]="imageForm">
      <h3>Immagine Profilo</h3>
      <div class="image-box">
        <img id="profile-image" [src]="url" alt="Immagine Profilo">
        <input type="file" style="display: none" #imageInput (change)="onChangeImage($event)" >
        <button mat-raised-button color="primary" (click)="imageInput.click()">Carica</button>
        <button mat-raised-button style="float: right;" (click)="uploadImage()">Salva</button>
      </div>
    </form>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <div class="update-data">
      <h3>Modifica Dati</h3>
      <form [formGroup]="profileForm" autocomplete="off">
        <mat-form-field class="input-item">
          <mat-label>Cognome</mat-label>
          <input matInput placeholder="Cognome" formControlName="name" autocomplete="off">
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required">Il cognome è obbligatorio</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-item">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" formControlName="firstName"  autocomplete="off">
          <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <div *ngIf="firstName.errors.required">Il nome è obbligatorio</div>
          </mat-error>
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" [disabled]="profileForm.invalid" (click)="editData()" style="margin-bottom: 10px;">Modifica</button>
      <div class="password-box">
        <h3>Modifica Password</h3>
        <form [formGroup]="passwordForm" autocomplete="off">
          <mat-form-field class="input-item">
            <mat-label>Vecchia Password</mat-label>
            <input type="password" matInput placeholder="Vecchia Password" formControlName="lastPassword"
                   [type]="hide ? 'password' : 'text'" autocomplete="off">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="lastPassword.invalid && (lastPassword.dirty || lastPassword.touched)">
              <div *ngIf="lastPassword.errors.minlength">Password troppo corta</div>
              <div *ngIf="lastPassword.errors.required">La vecchia password è obbligatoria</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-item">
            <mat-label>Nuova Password</mat-label>
            <input type="password" matInput placeholder="Nuova Password" formControlName="password"
                   [type]="hide ? 'password' : 'text'" autocomplete="off">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
              <div *ngIf="password.errors.minlength">Password troppo corta</div>
              <div *ngIf="password.errors.required">La password è obbligatoria</div>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-item">
            <mat-label>Conferma Nuova Password</mat-label>
            <input type="password" matInput placeholder=" Conferma Nuova Password" formControlName="passwordConfirm"
                   [type]="hide ? 'password' : 'text'" autocomplete="off">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)">
              <div *ngIf="passwordConfirm.errors.minlength">Password troppo corta</div>
              <div *ngIf="passwordConfirm.errors.required">La password è obbligatoria</div>
              <div *ngIf="!passwordConfirm.errors.isMatching">Le Password devono coincidere</div>
            </mat-error>
          </mat-form-field>
          <button mat-raised-button [disabled]="passwordForm.invalid" (click)="editPassword()" color="primary">Conferma</button>
        </form>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
