<div *ngFor="let historical of deliveryHistoricals">
  <h4>{{historical.status}}</h4>
  <h4>{{historical.timestamp.toLocaleDateString()}}</h4>
  <button mat-button color="primary" (click)="seeImage(historical)">Guarda Contenuto</button>
</div>
<div *ngIf="homework && homework.mark">
  <h3 align="right">Voto: {{homework.mark}}</h3>
</div>
<div *ngIf="(homework) && (!homework.mark) &&
(lastDelivery.status === 'DELIVERED' || lastDelivery.status === 'REVIEWED')">
  <button mat-raised-button color="primary"
          [disabled]="(!course.enabled) || (lastDelivery.status === 'REVIEWED')"
          (click) = "correct()">Correggi</button>
  <button mat-button color="primary"
          [disabled] = "(!course.enabled) || (this.expiryDate < this.nowDate)"
          (click)="setEditable()">Riconsegna: {{action}}</button>
  <button mat-raised-button
          [disabled]="(!course.enabled) || (lastDelivery.status !== 'REVIEWED')"
          (click) = "evaluate()">Assegna Voto</button>
</div>
