<mat-form-field>
  <mat-label>Filtra per Stato</mat-label>
  <mat-select min-width="200px" [(value)]="selectedState" (valueChange)="filter()">
    <mat-option value="">TUTTI</mat-option>
    <mat-option value="NULL">NULL</mat-option>
    <mat-option value="READ">READ</mat-option>
    <mat-option value="DELIVERED">DELIVERED</mat-option>
    <mat-option value="REVIEWED">REVIEWED</mat-option>
  </mat-select>
</mat-form-field>
<table mat-table
       [dataSource]="dataSourceDeliveries" multiTemplateDataRows
       class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="studentId">
    <th mat-header-cell *matHeaderCellDef > StudentID </th>
    <td mat-cell *matCellDef="let delivery">{{delivery.studentId}}</td>
  </ng-container>
  <ng-container matColumnDef="studentFirstName">
    <th mat-header-cell *matHeaderCellDef > NomeStudente </th>
    <td mat-cell *matCellDef="let delivery">{{delivery.studentFirstName}}</td>
  </ng-container>
  <ng-container matColumnDef="studentName">
    <th mat-header-cell *matHeaderCellDef > CognomeStudente </th>
    <td mat-cell *matCellDef="let delivery">{{delivery.studentName}}</td>
  </ng-container>
  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Timestamp </th>
    <td mat-cell *matCellDef="let delivery">{{delivery.timestamp.toLocaleString()}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef > Stato </th>
    <td mat-cell *matCellDef="let delivery">{{delivery.status}}</td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let delivery" [attr.colspan]="displayColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="delivery == expandedDelivery ? 'expanded' : 'collapsed'">
        <app-student-delivery-historicals [assignment] = assignment
                                          [lastDelivery]="delivery"
                                          [course] = course
                                          [readAssignmentInput]="readAssignment">

        </app-student-delivery-historicals>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let delivery; columns: displayColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedDelivery === delivery"
      (click)="expandedDelivery = expandedDelivery === delivery ? null : delivery">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
