.vm-model-card{
  width: 70%;
}

.vm-model-content{
  margin-top: 15px;
}

.max-min-card{
  width: 70%;
}

.max-min-content{
  margin-top: 15px;
}

.course-detail-form{
  width: 100%;
}

.add-teacher-content{
  margin-top: 15px;
}
